:root{
    --header-color:  #FF9B12;
    --header-icon-color:white;
    --hover-header-color: #FF910A;
    --border-color: #E6E6E6 ;
    --tekst-color: #0071B3;
    --icons-stad-color: #A9A9A9;

}
body{
    margin:0;
}
/*header sectionnnneeeeeee */
header{
    padding:20px;
    background-color: var(--header-color);
    color: var(--header-icon-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-icon,
.funda-icon,
.huis-icon, 
.fav-icon, 
.acc-icon{
height:25px;
width: auto;
}
.container-menu,
.container-huis-icon,
.container-fav-icon,
.container-acc{
    display:flex;
    flex-direction: column;
    align-items: center;
    &:hover{
        background-color: var(--hover-header-color);
        border-radius: 5px;
    }
}
.menu-tekst,
.huis-tekst,
.fav-tekst,
.acc-tekst{
    font-size: 12px;
}
.link-fav-knop{
    text-decoration: none;
    color: var(--header-icon-color);
}

/*index sectioneeee*/

.h1-index{
margin: 20px 0px 40px 40px;
}

ul{
    list-style: none;
    padding:0;
    margin:0;
}
.container-index{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-huizen{
    display: grid;
    grid-template-columns: 250px;
    gap: 25px;
    justify-content: center;

    @media (min-width:768px){
      grid-template-columns: repeat(3, 250px);
      gap: 5px;   
    }

    @media (min-width:1024px){
        grid-template-columns: repeat(4, 250px);
        gap: 30px;
    }
}

.huis-img{
    width: clamp(15rem, -5.9524rem + 104.7619vw, 21.875rem);
    height: auto ;
    object-fit: cover;
    display: block;
    border-radius: 10px;
    @media (min-width:768px){
        width: 240px;
    }
}
.straat{
    font-weight: bold;
    color:var(--tekst-color)
}
.prijs{
    font-weight: bold;
}
.makelaar{
    color:var(--tekst-color)
}



/*detail sectionneeee*/

.container-img{
     position: relative;
    display: inline-block; /* of block */
}
.detail-img{
    width:100%;
    height: auto;
}
.container-knoppen{
    position: absolute;
    top: 10px;
    right:10px;
    display:flex;
    gap:5px;
}
.deel-icon,
.opslaan-knop
{
    color:var(--tekst-color);
    background-color: var(--header-icon-color);
    border:none;
    border-radius: 5px;
}
button{
    cursor: pointer;
}

.container-beschrijving{
    display:flex;
    justify-content: space-between;
}

/*favorieten sectionneeee*/
/*footer sectioneeee*/