:root{
    --header-color:  #FF9B12;
    --header-icon-color:white;
    --hover-header-color: #FF910A;
    --border-color: #E6E6E6 ;
    --tekst-color: #0071B3;
    --icons-stad-color: #A9A9A9;
    --hart-color: #C93328;
}
body{
    margin:0;
}
/*header sectionnnneeeeeee */
header{
    padding:20px;
    gap:5px;
    background-color: var(--header-color);
    color: var(--header-icon-color);
    display: flex;
    align-items: center;
    position: relative;
    z-index: 200;
    @media (min-width:321px){
gap: clamp(0.3125rem, -15.3475rem + 78.2998vw, 22.1875rem)
    }
     @media (min-width: 768px){
    display:flex;
    justify-content: space-between;
    }
}

.left-header{
    display:flex;
gap: 13px;

    @media (min-width: 767px){
display:flex;
gap: 30px;
margin-left: 50px;
    }
}
.right-header{
    display:flex;
gap: 13px;
    @media (min-width: 768px){
display:flex;
gap: 30px;
margin-right: 50px;}
}
.menu-icon,
.funda-icon,
.huis-icon, 
.fav-icon, 
.acc-icon{
height:25px;
width: auto;
}
.container-menu,
.container-huis-icon,
.container-fav-icon,
.container-acc{
    display:flex;
    flex-direction: column;
    align-items: center;
    &:hover{
        background-color: var(--hover-header-color);
        border-radius: 5px;
    }
    @media (min-width:1024px){
        display: flex;
flex-direction: row;
gap: 5px;
    }
}
.menu-tekst,
.huis-tekst,
.fav-tekst,
.acc-tekst{
    font-size: 12px;
    @media (min-width: 1024px){
        font-size:16px;
    }
}
.link-fav-knop{
    text-decoration: none;
    color: var(--header-icon-color);
        display: flex;
    margin: 0;
}

/*index sectioneeee*/
.main-index {
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin-top: 20px;
    margin-left: clamp(0.9375rem, 0.2083rem + 3.6458vw, 3.125rem);
}

.index-kop {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.h1-index{
margin: 0;
}

/* prijs sortering */

.sort-wrapper {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.sort {
    position: relative;
    margin-left: 50px;
    margin-bottom: 20px;
}

.sort-menu {
    margin-top: 5px;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    z-index: 2500;
    position: absolute;
}

.sort-menu a {
    text-decoration: none;
    color: black;

    &:hover {
        font-weight: bold;
    }
}


/* Huizen lijst*/

ul{
    list-style: none;
    padding:0;
    margin:0;
}

.container-huizen{
    display: grid;
    grid-template-columns: 250px;
    gap: 25px;
    justify-content: center;

    @media (min-width:768px){
      grid-template-columns: repeat(3, 250px);
      gap: 5px;   
    }

    @media (min-width:1024px){
        grid-template-columns: repeat(4, 250px);
        gap: 30px;
    }
}

/* scroll animatie */
.lijst-huizen {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 20%;
}

/* bron: https://www.youtube.com/watch?v=0TnO1GzKWPc */
@keyframes appear {
    from {
        opacity: 0;
        scale: 0.9;
    }

    to {
        opacity: 1;
        scale: 1;
    }
}

.huis-img{
    width: clamp(15rem, -5.9524rem + 104.7619vw, 21.875rem);
    height: 180px ;
    object-fit: cover;
    display: block;
    border-radius: 10px;
    @media (min-width:768px){
        width: 240px;
          transition: all .3s ease-in-out;

        /*bron: https://css-tricks.com/snippets/css/scale-on-hover-with-webkit-transition/*/
        &:hover {
            transform: scale(1.05);

        }
    }
}
.straat{
    font-weight: bold;
    color:var(--tekst-color)
}
.prijs{
    font-weight: bold;
}
.makelaar{
    color:var(--tekst-color)
}



/*detail sectionneeee*/

.sticky{
    display:flex;
    gap: 15px;
    justify-content: space-between;
    background-color: var(--header-icon-color);
    width: 100%;
    position: sticky;
    z-index: 100;
    top: 0;
    padding: 10px 0;
    margin-top: -70px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.straat-prijs{
    display:none;

 @media (min-width:768px){
        display:flex;
flex-direction: column;
gap:0px;
margin-left: 50px;
}
}
.straat-desk{
font-weight: bold;
font-size: larger;
}
.straat-desk,
.prijs-desk{
    margin:0;
}

.rechts{
    display:flex;
    gap: 15px;
}
/*opslaan knop + animatie*/ 
.opslaan-knop {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
width:auto;
height: 40px;
        fill:var(--tekst-color);
}

.liked-hart {
    fill: var(--hart-color);
    animation: like-pop 0.5s ease;
}

@keyframes like-pop {
    0% {
        transform: scale(1);
    }

    40% {
        transform: scale(1.5);
    }

    60% {
        transform: scale(0.80);
    }

    80% {
        transform: scale(1.5)
    }

    100% {
        transform: scale(1);
    }
}

.opslaan-svg,
.liked-hart {
    width: 30px;
    height: 30px;
}

/*fav knop tekst desk*/
.bewaard-deskt {
    display: none;
    @media (min-width:768px) {
        display: flex;
        color: var(--tekst-color)
    }
}

.bewaren-deskt {
    display: none;
    @media (min-width:768px) {
        display: flex;
        color: var(--tekst-color)
    }
}

/*sticky balk icons*/
.tel-nummer{
    display: flex;
   align-items: center;
    justify-content: center;
    fill: var(--tekst-color);
    color:var(--tekst-color);
    border: solid 1px var(--tekst-color);
    border-radius: 5px;
    background-color: var(--header-icon-color);
    gap:5px;
}
.tel-mob{
    display:flex;
    @media (min-width: 768px){
        display:none;
    }
}
.tel-desk{
    display:none;
    @media (min-width:768px){
        display:flex;
    }
}

.contact-knop{
    color:white;
    background-color:#FF910A;
    border:none;
    border-radius: 5px;
    gap:5px;
    display:flex;
    align-items: center;
    justify-content: center;
    @media (min-width: 768px){
    margin-right: 50px;
}
}
.contact-knop svg{
    fill:white;
}

/*adres stukje boven main img*/
.adres{
    display:none;

        @media (min-width:768px){
            display: flex;
            align-items: center;
            gap:5px;
                    margin-left: 70px;
            }
}

.huis-blauw-d,
.stad-boven-d{
   display:none;

        @media(min-width: 768px){
            display:flex;
            color: var(--tekst-color);
            fill: var(--tekst-color);  
        }
}

/*pop up*/
.verwijderd-tekst,
.succes-tekst{
    position:fixed;
    top:60px;
    right: 10px;
    background-color: var(--header-icon-color);
    border-radius: 5px;
    padding:20px;
    z-index: 9999;
    border-left: 6px solid #1aa34a;
    width: 350px;
            @media (min-width: 375px){
             width: clamp(15.625rem, 13.0352rem + 11.0497vw, 21.875rem);
        }
}
/*sluitknop van popup*/
.sluit-knop {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 28px;
  height: 28px;

  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  cursor: pointer;
  &:hover{
background-color: #E5E5E5;
border-radius: 5px;
  }
}
#popup-d:target,
#popup-s:target {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.check-icon{
    fill: #187428;
}


.straat-desk,
.prijs-desk{
    margin:0;
}

.straat-desk{
font-weight: bold;
font-size: larger;
}
.bewaar-tekst{
    display:none;
    @media (min-width:768px){
        display:flex;
        color: var(--tekst-color)
    }
}
.container-img{
     position: relative;
    display: inline-block; /* of block */
    z-index: 2;
}
.detail-img{
    width:100%;
    height: auto;
}
.container-knoppen{
    position: absolute;
    top: 10px;
    right:10px;
    display:flex;
    gap:5px;
}



.deel-icon,
.opslaan-knop
{
    color:var(--tekst-color);
    background-color: var(--header-icon-color);
    border:none;
    border-radius: 5px;
    &:hover{
        background-color: #E5F6FF;
    }
}

button{
    cursor: pointer;
}

.opslaan-knop {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
width:40px;
height: 40px;
        fill:var(--tekst-color);

}


.container-beschrijving{
    display:flex;
    justify-content: space-between;
}

/*favorieten sectionneeee*/

.route-icons{
    color:var(--tekst-color)
}
.tekst-fav{
    width: 250px;
    font-size: 16px;
}
.container{
    color:var(--tekst-color)

}
.huizen-fav{
margin-top: 25px;
    display: grid;
    grid-template-columns: 250px;
    gap: 25px;
    justify-content: center;

    @media (min-width:768px){
      grid-template-columns: repeat(3, 250px);
      gap: 5px;   
    }

    @media (min-width:1024px){
        grid-template-columns: repeat(4, 250px);
        gap: 30px;
    }
}
.img-fav{
    width: 240px;
    height: auto;
}
.woning-icons{
    display:flex;
    flex-direction: row;
}
.container-plus{
    color:var(--tekst-color);
    & :hover{
  background-color:#E1F2FB;
    }
  
}

/*footer sectioneeee*/